<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> 施設を探す </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngFor="let facility of facilities">
    <div class="facility-wrapper">
      <div
        class="facility-image"
        [ngStyle]="{ 'background-image': 'url(' + facility.getImageUrl() + ')' }"
      >
        <div class="facility-name">{{ facility.getName() }}</div>
      </div>
      <div class="time-scroller">
        <ng-container *ngFor="let time of times">
          <div class="time-wrapper" (click)="selectTime(time, facility)">
            <div class="time-text">{{ time }}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ion-content>
