ion-content {
  .facility-wrapper {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    .facility-image {
      position: relative;
      padding: 16px 0;
      color: #fff;
      background-color: rgb(1, 112, 105);
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      z-index: 0;
      .facility-name {
        padding-left: 32px;
        margin-top: 96px;
        position: relative;
        color: white;
        font-size: 20px;
        font-weight: 800;
        z-index: 2;
      }
    }
    .time-scroller {
      margin-top: 8px;
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      .time-wrapper {
        margin: 4px 4px 12px 4px;
        padding: 12px 20px 12px 20px;
        border-radius: 4px;
        background-color: #ffc790;
        .time-text {
          color: #714418;
          font-size: 16px;
        }
      }
    }
  }

  .time-skeleton {
    display: flex;
    flex-direction: row;
  }
}
