<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> 試合 </ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="tab" (click)="tabChange()">
    <ion-segment-button value="match">
      <div class="segment-wrapper">
        <ion-label>試合</ion-label>
      </div>
    </ion-segment-button>
    <ion-segment-button value="event">
      <div class="segment-wrapper">
        <ion-label>イベント</ion-label>
      </div>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="users">
  <div class="match-box">
    <div class="title-wrapper">
      <div class="match-place">GIARDINO</div>
      <div class="match-time">今日 09:30</div>
    </div>
    <div class="users-wrapper">
      <div class="user-wrapper">
        <div class="user-name">{{ users[0].getFirstName() }}</div>
        <img class="thumbnail" [src]="users[0].getImageUrl()" />
      </div>
      <div class="user-wrapper">
        <div class="user-name">{{ users[1].getFirstName() }}</div>
        <img class="thumbnail" [src]="users[1].getImageUrl()" />
      </div>
      <div class="border-line"></div>
      <div class="user-wrapper">
        <div class="user-name">{{ users[2].getFirstName() }}</div>
        <img class="thumbnail" [src]="users[2].getImageUrl()" />
      </div>
      <div class="user-wrapper">
        <div class="user-name">{{ users[3].getFirstName() }}</div>
        <img class="thumbnail" [src]="users[3].getImageUrl()" />
      </div>
    </div>
  </div>
  <div class="match-box">
    <div class="title-wrapper">
      <div class="match-place">パデルワン</div>
      <div class="match-time">今日 09:30</div>
    </div>
    <div class="users-wrapper">
      <div class="user-wrapper">
        <div class="user-name">{{ users[0].getFirstName() }}</div>
        <img class="thumbnail" [src]="users[0].getImageUrl()" />
      </div>
      <div class="user-wrapper">
        <div class="user-name">{{ users[1].getFirstName() }}</div>
        <img class="thumbnail" [src]="users[1].getImageUrl()" />
      </div>
      <div class="border-line"></div>
      <div class="user-wrapper">
        <div class="user-name">{{ users[2].getFirstName() }}</div>
        <img class="thumbnail" [src]="users[2].getImageUrl()" />
      </div>
      <div class="user-wrapper">
        <div class="user-name">{{ users[3].getFirstName() }}</div>
        <img class="thumbnail" [src]="users[3].getImageUrl()" />
      </div>
    </div>
  </div>
</ion-content>
