<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> マイページ </ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="logout()"> ログアウト </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="me">
  <div class="user-wrapper">
    <img class="thumbnail" [src]="me.getImageUrl()" />
    <div class="name-wrapper">{{ me.getName()}}</div>
  </div>
  <div class="favorites">
    お気に入りリスト
    <ion-item
      class="favorite"
      *ngFor="let favorite of favorites; let i = index"
    >
      <ion-label class="favorite-text">{{ favorite.name }}</ion-label>
    </ion-item>
  </div>
</ion-content>
