ion-content {
  .user-wrapper {
    margin: 16px 0px 0px 12px;
    display: flex;
    flex-direction: row;
    .thumbnail {
      width: 72px;
      border-radius: 50%;
    }
    .name-wrapper {
      margin-top: 8px;
      margin-left: 12px;
      font-size: 20px;
      font-weight: 700;
    }
  }
  .favorites {
    margin: 12px;
  }
}
