<ion-content>
  <div class="content-wrapper">
    <div class="main-image-wrapper">
      <img class="main-image" src="assets/icon/sportable.png" />
    </div>
    <div class="sub-title-wrapper">スポーツを、もっと楽しく</div>
    <div class="mail-login-wrapper" (click)="mailLogin()">
      <div class="mail-login-text">メールでログイン</div>
    </div>
    <div class="facebook-login-wrapper" (click)="facebookLogin()">
      <img class="facebook-image" src="assets/icon/facebook-logo.png" />
      <div class="facebook-login-text">Facebookでログイン</div>
    </div>
    <div class="apple-login-wrapper" (click)="appleLogin()">
      <img class="apple-image" src="assets/icon/apple-logo.png" />
      <div class="apple-login-text">Appleでログイン</div>
    </div>
    <div class="login-text" (click)="goMailLoginPage()">
      すでに登録されてる方はこちら
    </div>
  </div>
</ion-content>
