<ion-header *ngIf="facility">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" text="" (click)="back()">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{ facility.getName() }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="facility">
  <div
    class="facility-favorite"
    [ngClass]="{'is-selected': selectFavorite, 'isnt-selected': !selectFavorite}"
    (click)="setFavorite()"
  >
    <div class="favorite-icon">
      <ion-icon size="large" name="star"></ion-icon>
    </div>
  </div>
  <div class="facility-wrapper">
    <div
      class="facility-image"
      [ngStyle]="{ 'background-image': 'url(' + facility.getImageUrl() + ')' }"
    >
      <div class="location-wrapper">
        <ion-icon name="location" color="white"></ion-icon>
        <div class="location-text">{{ facility.getAddress() }}</div>
      </div>
      <div class="facility-name">{{ facility.getName() }}</div>
    </div>
  </div>
  <div class="time-scroller">
    <ng-container *ngFor="let time of times; let i = index">
      <div
        (click)="selectTime(i, time)"
        [ngClass]="time.selected ? 'time-wrapper-on' : 'time-wrapper-off'"
      >
        <div class="time-text">{{ time.time }}</div>
      </div>
    </ng-container>
  </div>
  <div class="description-wrapper">
    <div class="description-text">{{ facility.getDescription()}}</div>
  </div>
</ion-content>
