<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" text=""> </ion-back-button>
    </ion-buttons>
    <ion-title>ユーザ登録</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <form [formGroup]="registerForm" (onSubmit)="register()">
      <div class="input-name">
        <div class="input-column-name">
          <ion-label>姓</ion-label>
          <input placeholder="Tanaka" formControlName="lastName" />
        </div>
        <div class="input-column-name">
          <ion-label>名前</ion-label>
          <input placeholder="Tarou" formControlName="firstName" />
        </div>
      </div>
      <div class="input-column">
        <ion-label>メールアドレス</ion-label>
        <input
          type="email"
          placeholder="padel@padel.com"
          formControlName="email"
        />
      </div>
      <div class="input-column">
        <ion-label>パスワード</ion-label>
        <input type="password" formControlName="password" />
      </div>
      <div class="input-column">
        <ion-label>パスワード確認</ion-label>
        <input type="password" formControlName="passwordConfirmation" />
      </div>
    </form>
    <ion-button [disabled]="isDisabled()" (click)="register()" color="primary"
      >登録する</ion-button
    >
    <div class="login-text" (click)="goLoginPage()">
      すでに登録されてる方はこちら
    </div>
  </div>
</ion-content>
