ion-content {
  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    form {
      width: 100%;
      .input-column {
        display: flex;
        flex-direction: column;
        margin: 8px 12px 12px 12px;
        ion-label {
          margin-left: 8px;
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 4px;
        }
        input {
          border: 1px solid #c6c6c6;
          border-radius: 4px;
          padding: 8px;
        }
      }
    }

    ion-button {
      font-weight: 600;
      margin-top: 12px;
      width: 90%;
    }
  }
}
