<ion-tabs #tabs (ionTabsDidChange)="ionTabChanged(tabs)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="search">
      <ion-icon name="search" *ngIf="selectedTab === 'search'"></ion-icon>
      <ion-icon
        name="search-outline"
        *ngIf="selectedTab != 'search'"
      ></ion-icon>
      <ion-label>探す</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="match">
      <ion-icon name="tennisball" *ngIf="selectedTab === 'match'"></ion-icon>
      <ion-icon
        name="tennisball-outline"
        *ngIf="selectedTab != 'match'"
      ></ion-icon>
      <ion-label>試合</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mypage">
      <ion-icon name="person" *ngIf="selectedTab === 'mypage'"></ion-icon>
      <ion-icon
        name="person-outline"
        *ngIf="selectedTab != 'mypage'"
      ></ion-icon>
      <ion-label>マイページ</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
